.movie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  height: 281px;
  margin: 18px 0;
  padding-right: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

.movie__image {
  height: 100%;
  margin-right: 20px;
}

.movie__info {
  position: relative;
  width: 245px;
  margin: 12px 0 0 0;
}

.movie__title {
  font-size: 20px;
  line-height: 28px;
  width: 220px;
}
.movie__rate {
  position: absolute;
  top: 0;
  right: -8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  margin-left: auto;
}

.movie__rate--bad {
  border: 2px solid #E90000;
}

.movie__rate--ok {
  border: 2px solid #E97E00;
}

.movie__rate--good {
  border: 2px solid #E9D100;
}

.movie__rate--great {
  border: 2px solid #66E900;
}

.movie__date {
  margin: 7px 0;
  color: #827E7E
}

.ant-tag {
  margin-bottom: 8px;
}

ul.ant-rate {
  position: absolute;
  bottom: 12px;
}


@media (max-width: 550px) {
  .movie {
    width: 387px;
    height: 245px;
    margin: 9px 0;
  }
  .movie__info {
    width: 260px;
    margin-left: 15px;
    margin-top: 0;
  }
  
  .movie__image {
    height: 91px;
    width: 60px;
    margin: 6px 13px 10px 10px;
  }

  .movie__description {
    margin-left: -85px;
    margin-top: 5px;
  }

  ul.ant-rate {
    right: -15px;
  }

  .movie__rate {
    top: 10px;
    right: -15px;
  }
}